@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Google Sans", sans-serif;
  background-color: #0d1117;
  color: #6e7781;
  margin: 0;
  padding: 0;
}
.nav-bar {
  padding-left: 20px;
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.nav-bar img {
  width: 30px;
  height: 30px;
  margin-top: 10px;
}
.nav-bar a {
  color: white;
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 5px;
}
.logo {
  padding-left: 20px;
  margin-top: 15px;
  display: flex;
  gap: 10px;
  font-size: 18px;
}
.two-buttons {
  display: flex;
  gap: 15px;
  margin-top: 15px;
  padding-right: 50px;
  font-size: 14px;
}
a:hover {
  text-decoration: underline;
}
