@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Google Sans", sans-serif;
  background-color: #0d1117;
  color: #6e7781;
  margin: 0;
  padding: 0;
}
.nav-bar {
  padding-left: 20px;
    display: flex;
    gap: 30px;
}
.nav-bar img {
  width: 32px;
}
.nav-bar a {
  color: white;
  text-decoration: none;
  padding-top: 15px;
}
.logo {
  padding-left: 20px;
  margin: 15px;
  display: flex; 
  gap: 100px;
}
.two-buttons {
  display: flex;
  justify-content: end;
  /* gap: 24px; */
  margin-top: 0px;
  padding-bottom: 0;
}
